[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
decorator = "*"
djangorestframework = "*"
drfdocs = "*"
gunicorn = "*"
ipdb = "*"
ipython = "*"
"path.py" = "*"
pexpect = "*"
pickleshare = "*"
ptyprocess = "*"
simplegeneric = "*"
traitlets = "*"
whitenoise = "*"
django = "*"

[dev-packages]

[requires]
python_version = "3.9"
